body{
  background: url("../images/pink_rice/pink_rice.png");
  
}
#submitButton{
  color: white;
  background-color: #fe5bac;
}

div {
  border: 5px double #fe5bac;
  margin: 10px;
  font-family: 'Rochester', cursive;
  
}
input[type=toDo]:focus {
  background-color: #fe5bac;
}
input[type=color]:focus {
  background-color: #fe5bac;
}
input[type=date]:focus {
  background-color: #fe5bac;
}
select[type=categories]:focus {
  background-color: #fe5bac;
}
select[type=importance]:focus {
  background-color: #fe5bac;
}
{
    background-color: #ebb2d6;
}



label{
    margin-left: 5px;
    color: white;
    font-size: 25px;
}

.card-header{
  font-size: 3vw;
  color: #fe5bac;
  background-size: cover;
  background: url("../images/trail-of-sparkles3sm.png");
}



#header{
  color: #fe5bac;
}

.wrapper1{
  background-color: #f2cfd5;

}

#score {
  width: 100%;
}

.auto-center {
  margin: 0 auto;
  max-width: 960px;;

}

#avatar {
  height: 50vh;
  margin: 1vw;
}

#score-box {
  background: url("../images/glitterBomb3.gif");
  margin: 1vw;
  width: 100%;
}

.score-title {
  position: relative;
  background-color: none;
  color: white;
  text-align: center;
  font-size: 6vw;
}

.score-keeper {
  position: relative;
  background-color: none;
  color: white;
  text-align: center;
  font-size: 6vw;
}

.checkbox {
  margin: 3px 10px 3px 0px;
}

.jumbotron {
  width: auto;
  background: url("../images/Banner.png");
  background-size: cover;
}

#title {
  font-size: 5vw;
}

#score {
  width: 100%;
}

.avatar-footer {
  width: 100%;
  padding-bottom: 2%;
}

.avatars {
  width: 19%;
  margin: 0;
  padding: 0;
  color: white;
}
