body{
    background: url("../images/pink_rice/pink_rice.png");
    
}

div {
    border: 5px double #fe5bac;
    margin: 10px;
    font-family: 'Rochester', cursive;
    
}
input[type=toDo]:focus {
    background-color: #fe5bac;
  }
  input[type=color]:focus {
    background-color: #fe5bac;
  }
  input[type=date]:focus {
    background-color: #fe5bac;
  }
  select[type=categories]:focus {
    background-color: #fe5bac;
  }
  select[type=importance]:focus {
    background-color: #fe5bac;
  }
  {
      background-color: #ebb2d6;
  }

  #submitButton{
      color: white;
      background-color: #fe5bac;
      margin-left: 10px;
  }

  label{
      margin-left: 5px;
      color: white;
      font-size: 25px;
  }


 
  

#header{
    color: white;
}

/* .wrapper1 {
    width: 90vw;
<<<<<<< HEAD
    background-color: #f2cfd5;
}
=======
} */
>>>>>>> ad9988060d104da4620bb93e19f97cc30c52dab3

.auto-center {
    margin: 0 auto;
}

#avatar {
    width: 40vw;
}





@media only screen and (max-width: 960px) and (min-width: 640px) {

}

@media only screen and (max-width: 639px) {

}