body{
  background: url("../images/pink_rice/pink_rice.png");
  
}
#submitButton{
  color: white;
  background-color: #fe5bac;
}

div {
  border: 5px double #fe5bac;
  margin: 10px;
  font-family: 'Rochester', cursive;
  
}
input[type=toDo]:focus {
  background-color: #fe5bac;
}
input[type=color]:focus {
  background-color: #fe5bac;
}
input[type=date]:focus {
  background-color: #fe5bac;
}
select[type=categories]:focus {
  background-color: #fe5bac;
}
select[type=importance]:focus {
  background-color: #fe5bac;
}






label{
    margin-left: 5px;
    color: white;
    font-size: 25px;
    
}

.card-header{
  color: #fe5bac;
}



#header{
  color: white;
}
.wrapper1{
  background-color: #f2cfd5;

}

#score {
  width: 100%;
}

.auto-center {
  margin: 0 auto;
  max-width: 960px;;

}

#avatar {
  height: 50vh;
  margin: 1vw;
}

#score-box {
  height: 50vh;
  width: 30%;
}

#glitter {
  height: 50vh;
  width: 100%;
  margin: 1vw;
}

.score-title {
  position: relative;
  background-color: none;
  color: white;
  text-align: center;
  font-size: 6vw;
  top: -90%;
}

.score-keeper {
  position: relative;
  background-color: none;
  color: white;
  text-align: center;
  font-size: 6vw;
  top: -90%;
}

.checkbox {
  margin: 3px 10px 3px 0px;
}